@import '../../../scss/variables';
@import '~@luft/common/src/scss/mixins';

@include media-breakpoint-up(md) {
    $search-component-width: 20.8rem;
    $search-component-padding-bottom: 1.5rem;

    .app {
        .navigation-component {
            .search-component {
                flex-basis: $search-component-width;
                padding-bottom: $search-component-padding-bottom;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .app {
        .navigation-component {
            padding-inline-start: $p-primary;
            padding-inline-end: $p-primary;
        }
    }
}
