@import '../../../scss/variables';
@import '~@luft/common/src/scss/mixins';

@include media-breakpoint-down(sm) {
    .app {
        .navigation-component {
            padding: 0 $p-primary;

            .account-nav-control-alt-component {
                margin-left: $m-primary;
            }

            .cart-bar-component-button {
                margin-left: $m-primary;
            }

            .navigation-component-toggle .navbar-toggler-icon {
                margin-right: 0;
            }

            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
                background: $dark-blue;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .app {
        .navigation-component {
            $navigation-component-icon-margin-inline: 2.6rem;

            .account-nav-control-alt-component {
                margin-inline-start: $navigation-component-icon-margin-inline;
            }

            .cart-bar-component-button {
                margin-inline-start: $navigation-component-icon-margin-inline;
            }

            .navigation-component-toggle .navbar-toggler-icon {
                margin-inline-end: $navigation-component-icon-margin-inline;
            }
        }
    }
}
