@import '../../../../common/scss/variables';

.reward-points-component {
    $arrow-icon-width: 1.4rem;
    $arrow-icon-height: 0.8rem;
    $arrow-icon-top: 50%;
    $arrow-icon-margin-top: -0.4rem;
    $content-max-height: 27rem;
    $title-margin-bottom: 3rem;
    $text-font-weight: 700;
    $form-margin: 1.5rem 0;
    $applied-bg-color: #ceebdd;
    $success-icon-size: 1.8rem;
    $success-icon-bg-size: 100%;
    $min-points-font-size: 80%;
    $min-points-margin-top: 0.25rem;
    $min-points-color: #8c939c;

    & {
        background-color: $light;
        padding: $p-primary;
        position: relative;
    }

    &-title {
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
        transition: margin-bottom 300ms ease;
        font-size: $font-size-md;
        font-weight: $font-weight-bold;

        &::after {
            content: '';
            width: $arrow-icon-width;
            height: $arrow-icon-height;
            background-image: url('~@luft/common/src/resources/svg/arrow-down.svg');
            background-size: $arrow-icon-width $arrow-icon-height;
            position: absolute;
            right: 0;
            top: $arrow-icon-top;
            margin-top: $arrow-icon-margin-top;
        }

        &-active {
            margin-bottom: $title-margin-bottom;

            &::after {
                transform: rotate(180deg);
            }
        }
    }

    &-content {
        transition: max-height 300ms;
        max-height: $content-max-height;

        &-collapsed {
            overflow: hidden;
            max-height: 0;
        }
    }

    &-form {
        margin: $form-margin;
    }

    &-body {
        display: flex;
    }

    &-value {
        font-weight: $text-font-weight;
        color: $tertiary;
    }

    &-input-wrapper {
        margin-right: $m-secondary;
        flex-grow: 1;
    }

    .form-group-component,
    .form-group {
        margin-bottom: 0;
    }

    &-min-points {
        color: $min-points-color;
        margin-top: $min-points-margin-top;
        margin-left: $m-secondary;
        font-size: $min-points-font-size;
        font-weight: $text-font-weight;
    }

    &-checkbox.checkbox-component-default {
        .checkbox-component-label-text {
            display: inline-block;
        }

        .checkbox-component-input:disabled + .checkbox-component-label .checkbox-component-label-text {
            cursor: auto;

            &::before {
                background-color: $disabled-color;
            }
        }
    }

    &-applied-points {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $applied-bg-color;
        padding: $p-primary;

        &::before {
            content: '';
            display: block;
            width: $success-icon-size;
            height: $success-icon-size;
            background: left top no-repeat url('~bat-core/common/src/resources/svg/velo/velo-success.svg');
            background-size: $success-icon-bg-size;
            margin-right: $m-secondary;
        }
    }

    &-applied-points-title {
        font-weight: $text-font-weight;
        margin-right: auto;
    }

    &-cancel.button-component {
        text-decoration: underline;
        text-transform: uppercase;
        padding: 0;
        white-space: nowrap;
        font-size: $font-size-base;
    }
}
