@import '../../../../common/scss/variables';
@import '~@luft/common/src/scss/mixins';

@include media-breakpoint-up(md) {
    .account-confirm-component {
        & {
            @include block-wrapper();
        }

        &-form {
            margin: $m-primary auto $m-tertiary;
            max-width: $input-max-width-sm;
            padding: 0;
        }
    }
}
