@import '../../../common/scss/variables';
@import '~@luft/cart/src/components/CartBar.component/index';
@import '~bat-core/common/src/components/Button.component/styles/velo/index';

.app {
    .cart-bar-component {
        $cart-icon-qty-top-position: -0.2rem;
        $cart-icon-qty-right-position: 1.2rem;
        $cart-icon-qty-padding: 0 0.6rem;
        $cart-icon-qty-font-size: 1.1rem;
        $cart-bar-component-height: $header-icon-height;
        $cart-bar-title-line-height: 1.2;
        $cart-icon-width: 2rem;
        $cart-icon-height: 1.8rem;

        & {
            height: $cart-bar-component-height;
            z-index: $header-elements-z-index;
        }

        .cart-bar-component-button {
            background-image: url('../../../common/resources/svg/bat-cart.svg');
            background-color: transparent;
            background-size: $cart-icon-width $cart-icon-height;
            background-position: top;
            border: none;
            color: $tertiary;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
        }

        &-qty {
            background-color: $secondary;
            padding: $cart-icon-qty-padding;
            font-size: $cart-icon-qty-font-size;

            &-position {
                top: $cart-icon-qty-top-position;
                right: $cart-icon-qty-right-position;
            }
        }

        &-title {
            all: unset;
            color: $light;
            line-height: $cart-bar-title-line-height;
            text-transform: capitalize;
            font-weight: $font-weight-normal;
            font-size: $font-size-base;
        }
    }
}
