@import '../../scss/variables';
@import '~@luft/common/src/components/Loader.component/index';

.app {
    .loader-component {
        $loader-z-index: 901;
        $loader-overlay-top: calc(#{$form-control-height} / 2 - #{$spinner-width} / 2);

        &-block-overlay {
            & {
                padding: 0;
                z-index: $loader-z-index;
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: $form-control-height;
                content: '';
                background-color: $black;
                opacity: $modal-backdrop-opacity;
            }

            .loader-component-spinner {
                position: absolute;
                top: $loader-overlay-top;
            }
        }
    }
}
