@import '../../../common/scss/variables';
@import '~@luft/common/src/scss/forms';
@import '~@luft/common/src/components/Error.component/index';
@import '../SocialProviders.component/index';

.social-login-connections-component {
    & {
        margin-top: $m-primary;
    }

    &-title {
        @extend legend;
    }

    .social-providers-component {
        margin: $m-primary 0;
        padding: 0;
        border: 0;

        &::before {
            display: none;
        }
    }
}
