@import '../../../../common/scss/variables';
@import '../../CheckoutDiscountTabs.component/index';
@import '../../Coupon.component/index';

.app {
    .checkout-discounts-component {
        & {
            margin-top: 0;
        }

        &-step-checkout-discounts {
            margin-top: 0;
        }

        .coupon-component {
            background-color: $light;
        }
    }
}
